<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WorkloadAutomateTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MyDbConnectionPro" connectionString="Data Source=your-server;Initial Catalog=your-db;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Environment: local, dev, prod -->
    <add key="Environment" value="local" />
    
    <!-- API Base URLs by environment -->
    <add key="ApiBaseUrl" value="http://localhost:5000/api/" />
    <!--<add key="ApiBaseUrl" value="http://172.18.0.140:8000/api/" />-->
    <!--<add key="ApiBaseUrl" value="http://172.16.0.5:5000/api/" />-->
  </appSettings>
  <userSettings>
    <WorkloadAutomateTool.Properties.Settings>
      <setting name="Image" serializeAs="String">
        <value />
      </setting>
      <setting name="Type" serializeAs="String">
        <value />
      </setting>
      <setting name="Season" serializeAs="String">
        <value />
      </setting>
      <setting name="Contractor" serializeAs="String">
        <value />
      </setting>
      <setting name="ChromeProfilePath" serializeAs="String">
        <value />
      </setting>
    </WorkloadAutomateTool.Properties.Settings>
  </userSettings>
</configuration>